@import url('bootstrap');

* {
  margin: 0;
  padding: 0;
}

header {
  
.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

  .logo {
    height: 50px;
  }

  .navbar-nav {
    display: flex;
    gap: 2px;
  }

  .nav-link:hover {
  color: #007bff;
}
}

main {
  
  .bg-black {
    background-color: black;
  }

  .bg-blue {
    background-color: #0282f9;
  }


  .top {
    color: white;
    padding-top: 3rem;
    height: 8rem;

  .bi {
    color: white;
  }
  }

.bottom {
  color: white;
  padding-top: 2rem;
  height: 8rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;


    .fotoPiccole {
      height: 40px;
    }
}

}

footer {





  .bg-bottom-footer {
    background-color: #303030;
    color: white;
  }
}