@import url('bootstrap');

* {
  margin: 0;
  padding: 0;
}

header {
  
.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

  .logo {
    height: 50px;
  }

  .navbar-nav {
    display: flex;
    gap: 2px;
  }

  .nav-link:hover {
  color: #007bff;
}
}

main {
  
  .bg-black {
    background-color: black;
  }

  .bg-blue {
    background-color: #0282f9;
  }


  .top {
    color: white;
    padding-top: 3rem;
    height: 8rem;

  .bi {
    color: white;
  }
  }

.bottom {
  color: white;
  padding-top: 2rem;
  height: 8rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;


    .fotoPiccole {
      height: 40px;
    }
}

}

footer {
   position: absolute;
   width: 100%;

  .bg-top-footer {
    background-image: url(/img/footer-bg.jpg);
    color: white;
    width: 100%;
  }

  .logo-rilievo {
    position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.9; 
  z-index: 0;
  }
.logo-rilievo img {
  max-width: 500px; 
  height: auto;
}


  .bg-bottom-footer {
    background-color: #303030;
    color: white;
    width: 100%;
    

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .container {
    margin-bottom: 0;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .list-left{
      padding-bottom: 2rem;
    }
    
    .list-right {
      padding-left: 1rem;
      
    }

    h4 {
      padding-top: 2rem;
    }

    a {
      color: gray;
    }
  }

  .btn {
    color: white;
    border-color: #0282f9;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .follow {
    color:  #0282f9;
    padding-top: 1rem;
  }

  .end-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}