@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
@import url('bootstrap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

header {
  
.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

  .logo {
    height: 50px;
  }

  .navbar-nav {
    display: flex;
    gap: 2px;
  }

  .nav-link:hover {
  color: #007bff;
}
}

main {

  .jumbo {
    height: 200px;
    width: 100%;
  }
  
  .bg-black {
    background-color: black;
    height: 600px;
  }
    .top {
    padding-top: 2rem;
  }

  .col-2 {
    display: flex;
    padding-bottom: 16rem;
    height: 100px;
  }

  .card {
    width: 120px;
    color: white;
    
  }

  .card-img-top {
    width: 120px;
    aspect-ratio: 2/3;
    object-fit: cover;
  }

  .card-img-top img {
      width: 100%;
      height: 100%;
      
  }

.card-body {
  margin-left: -15px;
  font-size: 11px;
  text-transform: uppercase;
  
}
  .bg-blue {
    background-color: #0282f9;
  }




.bottom {
  color: white;
  padding-top: 2rem;
  height: 8rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;


    .fotoPiccole {
      height: 40px;
    }
}

}

footer {
   position: absolute;
   width: 100%;
   overflow: hidden;

  .bg-top-footer {
    background-image: url(/img/footer-bg.jpg);
    color: white;
    width: 100%;
    overflow: hidden;
   
  }

  .logo-rilievo {
  position: absolute;
  right: 10%;
  bottom: 15%;
  opacity: 0.9; 
  z-index: 1;
  
  }
.logo-rilievo img {
  max-width: 500px; 
  height: auto;
}


  .bg-bottom-footer {
    background-color: #303030;
    color: white;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    
    

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .container {
    margin-bottom: 0;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .list-left{
      padding-bottom: 2rem;
    }
    
    .list-right {
      padding-left: 1rem;
      
    }

    h4 {
      padding-top: 2rem;
    }

    a {
      color: gray;
    }
  }

  .btn {
    color: white;
    border-color: #0282f9;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .follow {
    color:  #0282f9;
    padding-top: 1rem;
  }

  .end-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}